<flex-row-evenly>
  <fl-button>
    Hello
  </fl-button>
  <fl-button>
    Buddy
  </fl-button>
  <fl-button>
    How
  </fl-button>
  <fl-button>
    Are You
  </fl-button>
</flex-row-evenly>

<% @users.each do |user| %>
  <p><%= user.username %></p>
<% end %>

<%= form_with url: "/", method: :post, builder: ApplicationForm do |form| %>
  <%= form.text_field :username %>
  <%= form.submit 'test' %>
<% end %>
